*{margin: 0; padding: 0;}

header {border-bottom: 1px solid #ccc; background: #f1f1f1;}
.nav-pills > li > a:hover,  .nav-pills > li > a:focus {color: #fff; background-color: #428bca; border-radius: 0;}

footer{border-top: 1px solid #ccc; background: #f1f1f1; margin-top: 10px;}
footer p{text-align: center;margin-top: 10px;}
